    body {
        margin:0;
    }
    #container {
        width:100%;
        margin:0;
        font-family: monospace;
    }
    #banner {
        background-color:ghostwhite;
        display: flex;
        align-items: center;
        justify-content: center;
        height:10em;
    }
    #banner h1 {
        font-size:3em;
        color:#3b8ec2;
        font-family: fantasy;
        letter-spacing: 0.05em;
    }
    #content {
        width:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        background-color:#F0F3F8;
        padding:3.5em 0;
        border-top:3px double #d7dde1;
        border-bottom:3px double #d7dde1;
    }
    .content-block {
        border:1px solid #d7dde1;
        border-radius:5px;
        width:90%;
        background-color:#FFFFFF;
    }


@media screen and (min-width:32em) {
    #banner h1 {
        font-size:4.5em;
    }

@media screen and (min-width:42em) {
    .content-block {
        width:65%;
    }
    #banner h1 {
        font-size:5em;
    }
}
