body {
    margin:0;
}

#container {
    height:47em;
    width:100%;
    margin:0;
    font-family:monospace;
}
#banner {
    height: 5em;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:1.75em;
    border-bottom:3px double #d7dde1;
    background-color:ghostwhite;
}
#banner h1 {
    margin:0;
    font-size:2em;
    color:midnightblue;
}
#content {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#F0F3F8;
    padding:1.25em 0;
}
.content-block {
    border:1px solid #d7dde1;
    border-radius:5px;
    width:40%;
    background-color:#FFFFFF;
}
.content-block h2 {
    text-align:center;
    margin:0.25em 0;
    font-size:2.5em;
    color:midnightblue;
}