<div class="lineup">
    <div class="header bold">
        <h2>Starter</h2>
    </div>
    <player 
        *ngFor="let player of roster.starter; let i = index"
        [position]="player.fantasyPosition"
        [playerName]="player.name"
        (player)="setPlayer($event)"></player>
    <div class="header bold">
        <h2>Bench</h2>
    </div>
    <player 
        *ngFor="let player of roster.bench; let i = index"
        [position]="player.fantasyPosition"
        [playerName]="player.name"
        (player)="setPlayer($event)"></player>  

    <div class="btn-container"> 
        <a routerLink="/dashboard" class="btn">Dashboard</a>
        <a routerLink="/optimized" class="btn">Optimize</a>
    </div>
</div>