<div class="lineup">
	<player *ngFor="let player of positions.playersQB" [position]="player.fantasyPosition"></player>
    <player *ngFor="let player of positions.playersRB" [position]="player.fantasyPosition"></player>
    <player *ngFor="let player of positions.playersWR" [position]="player.fantasyPosition"></player>
    <player *ngFor="let player of positions.playersTE" [position]="player.fantasyPosition"></player>
    <player *ngFor="let player of positions.playersFLEX" [position]="player.fantasyPosition"></player>
    <player *ngFor="let player of positions.playersK" [position]="player.fantasyPosition"></player>
    <player *ngFor="let player of positions.playersDST" [position]="player.fantasyPosition"></player>
    <player *ngFor="let player of positions.playersBN" [position]="player.fantasyPosition"></player>

    <div class="btn-container"> 
        <a routerLink="/dashboard" class="btn">Dashboard</a>
        <a routerLink="/optimized" class="btn">Optimize</a>
    </div>
</div>