<div class="content-block">
    <div class="lineup">
        <div><span>QB</span><div>{{player.name}}</div></div>
        <div><span>RB</span><div></div></div>
        <div><span>RB</span><div></div></div>
        <div><span>WR</span><div></div></div>
        <div><span>WR</span><div></div></div>
        <div><span>WR</span><div></div></div>
        <div><span>TE</span><div></div></div>
        <div><span>FLEX</span><div></div></div>
        <div><span>DST</span><div></div></div> 	
        <div class="proj-total"></div>
    </div>
</div>