<form class="dashboard-form">
	<div class="position">
		<div class="slot">QB</div>
		<div class="styled-select blue semi-square">
			<select #QB (change)="onChange($event, 'QB', QB.value)">
				<option>1</option><option>2</option>
			</select>
		</div>
	</div>

	<div class="position">
		<div class="slot">Flex</div>
		<div class="styled-select blue semi-square">
			<select #FLEX (change)="onChange($event, 'FLEX', FLEX.value)">
				<option>1</option><option>2</option>
			</select>
		</div>
	</div>
	<div class="position">
		<div class="slot">RB</div>
		<div class="styled-select blue semi-square">
			<select #RB (change)="onChange($event, 'RB', RB.value)">
				<option>1</option><option>2</option><option>3</option>
			</select>
		</div>
	</div>
	<div class="position">
		<div class="slot">K</div>
		<div class="styled-select blue semi-square">
			<select #K (change)="onChange($event, 'K', K.value)">
				<option>1</option>
			</select>
		</div>
	</div>
	<div class="position">
		<div class="slot">WR</div>
		<div class="styled-select blue semi-square">
			<select #WR (change)="onChange($event, 'WR', WR.value)">
				<option>1</option><option>2</option><option>3</option><option>4</option>
			</select>
		</div>
	</div>
	<div class="position">
		<div class="slot">DST</div>
		<div class="styled-select blue semi-square">
			<select #DST (change)="onChange($event, 'DST', DST.value)">
				<option>1</option>
			</select>
		</div>
	</div>
	<div class="position">
		<div class="slot">TE</div>
		<div class="styled-select blue semi-square">
			<select #TE (change)="onChange($event, 'TE', TE.value)">
				<option>1</option><option>2</option>
			</select>
		</div>
	</div>
	<div class="position">
		<div class="slot">BN</div>
		<div class="styled-select blue semi-square">
			<select #BN (change)="onChange($event, 'BN', BN.value)">
				<option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option>
			</select>
		</div>
	</div>

	<div class="btn-container">
		<a routerLink="/roster" class="btn">Submit</a>
	</div>
</form>
