    .btn-container {
        border:none!important;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .btn {
    	-moz-box-shadow: 2px 15px 16px -8px #276873;
    	-webkit-box-shadow: 2px 15px 16px -8px #276873;
    	box-shadow: 2px 15px 16px -8px #276873;
    	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    	background-color:#599bb3;
    	-moz-border-radius:6px;
    	-webkit-border-radius:6px;
    	border-radius:6px;
    	border:2px solid #29668f;
    	display:inline-block;
    	cursor:pointer;
    	color:#ffffff;
    	font-family:Trebuchet MS;
    	font-size:28px;
    	font-weight:bold;
    	padding:5px 15px;
    	text-decoration:none;
    	text-shadow:3px 2px 0px #3d768a;
         margin:0.65em;
    }
    .btn:hover {
    	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    	background-color:#408c99;
    }
    .btn:active {
    	position:relative;
    	top:1px;
    }

    .dashboard-form {
        margin-top:2.5em;
    }

    .styled-select {
       background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
       height: 29px;
       overflow: hidden;
       width: 240px;
    }

    .styled-select select {
       background: transparent;
       border: none;
       font-size: 14px;
       height: 29px;
       padding: 5px; /* If you add too much padding here, the options won't show in IE */
       width: 111px;
       padding-left:2.35em;
    }

    .semi-square {
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       border-radius: 5px;
    }

    .blue    { 
        background-color: #3b8ec2; 
        display: inline-block;
        vertical-align: bottom;
        width:100px;
    }

    .position {
        text-align: center;
        width:48%;
        display: inline-block;
        padding:0 0 1.5em 0;
    }

    .slot {
        font-size:2em;
        display: inline-block;
        width:25%;
    }

    option {
        text-align: center;
    }